apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  labels:
    app: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: order-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8086
          livenessProbe:
            tcpSocket:
              port: 8086
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            tcpSocket:
              port: 8086
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
            - name: SERVER_PORT
              value: "8086"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres-order:5432/order_db"
            - name: SPRING_DATASOURCE_USERNAME
              value: "postgres"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "17052007"
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:9092"
            - name: KAFKA_ORDER_EVENTS_TOPIC
              value: "order-events"
            - name: USER_SERVICE_URI
              value: "http://user-service:8082"
